/angular.min.js
/bootstrap.js
/bootstrap.min.js
/clock.js
/confirm.js
/custom.js
/docs.min.js
/easing.js
/hover.zoom.js
/ie10-viewport-bug-workaround.js
/jquery-1.4.2.min.js
/jquery-1.9.1.min.js
/jquery.autocomplete.js
/jquery.easing.1.3.js
/jquery.eislideshow.js
/jquery.min.js
/jquery.mixitup.min.js
/jquery.mmenu.js
/jssor.slider.mini.js
/modernizr.custom.js
/move-top.js
/nouislider.js
/npm.js
/retina.js
/smoothscroll.js
