.navbar{
		margin-top: 1px;
		margin-bottom: 0px;
	}
body {
	background-image: url("../images/PicsArt_1481705646271.jpg"); 
	width: auto;
	height: 100%;
	min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    }

.cards {
	height: 18%;
}
.cardImg {
	height: 85%;
	width: 90%;
	margin: 10px;
	background-color: gray;
	opacity: 0.8;	
}

.searchbar {
	opacity: 0.8;
	margin-top: 40px;		
}

.img-temp{
	margin-top: 120px;	
	margin-bottom: 200px;
}

.img-rows{ margin-bottom: 80px;}

.img{width: 100%;}

.img:HOVER {opacity: 0.8;}

.imglinks {
	color: white;
	font-style: italic;
	font: bold;
	font-size: 18;
	font-stretch: normal;
	font-family: monospace;			
}

.imglinks:HOVER {
	color: #d4d4d4;	
	text-decoration: underline;
}



/* footer css code  start*/ 
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
/* footer css code  end*/ 
 
 /* Registration page code start */
 	.registration{ margin-top:30px; margin-bottom: 30px;}
 	.register{ margin-bottom: 25px; text-align: center;}
        .file-input-wrapper {
            height: 35px;
            overflow: hidden;
            position: absolute;
            width: 123px;
            background-color: white;
            cursor: pointer;
        }
        
        .file-input-wrapper > input[type="file"] {
            font-size: 40px;
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            cursor: pointer;
        }        
 /* Registration page code end */
 
 