body {
	margin: 0px;
	padding: 0px;
	background-image: url("../images/PicsArt_1481705646271.jpg"); 
	background-position: center;
	width: 100%;
	height: 100%;
}

.cards {
	height: 150px;
	margin-bottom: 40px;
}

.cardImg {
	height: 85%;
	width: 90%;
	margin: 10px;
	background-color: gray;
		opacity: 0.8;	
}

.searchbar {
	opacity: 0.8;	
}

.img{
	width: 100%;
}

		.imglinks {
			color: white;
			font-style: italic;
			font: bold;
			font-size: 18;
			font-stretch: normal;
			font-family: monospace;			
		}
		.imglinks:HOVER {
			color: #d4d4d4;
			text-decoration: underline;
		}

.img-temp{
	margin-top: 150px;
	
}